body {
  margin: 0;
  padding: 0;
}

header nav {
  background-color: #7e5f5f;
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

strong {
  font-size: 35px;
  color: yellow;
}

footer {
  padding: 1rem;
  background-color: #7e5f5f;
  color: white;
}

.pop-up-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 85vh;
  background-color: #7e5f5f;
  margin: auto;
}

.pop-up-container.hidden {
  display: none;
}
